* {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header style */
header {
  height: 808px;
  width: 100%;
  background-image: url("./banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 139px;
}

.banner-contant {
  text-align: right;
  display: block;
  direction: rtl;
  width: 476px;
  position: absolute;
  top: 30%;
  right: 230px;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  margin-bottom: 24px;
}

.banner-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 53px;
}

.primary-btn {
  background: #F15B22;
  border-radius: 5px;
  width: 160px;
  height: 64px;
  border: none;
  color: white;
  font-weight: 600;
}

/* Failures Style */
.failures {
  display: flex;
  justify-content: center;
  gap: 87px;
  margin-bottom: 130px;
  align-items: center;
}

.failures-contant {
  width: 416px;
  margin-top: 225px;
  height: 400px;
}

.failures-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 24px;
}

.failures-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 10px;
}

.failures-point {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}

.failures-img {
  width: 451px;
}

/* Plan Style */
.plan {
  text-align: center;
  margin-bottom: 130px;
}

.plan-contant {
  display: flex;
  margin-top: 56px;
  justify-content: center;
  gap: 100px;
}

.plan-icon {
  margin-bottom: 35px;
}

.plan-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}

.plan-name {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #151414;
}

.plan-status {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #737272;
}
/* Reading books style */
.books{
  margin-bottom: 123px;
  
}
.books-title{
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  text-align: center;
  margin-bottom: 50px;
}
.books-contant{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.display-books{
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(88, 88, 88);
  height: 480px;
  width: 240px;
  padding: 30px 30px;
  cursor: pointer;
}
.display-books:hover{
  background-color: rgba(132, 194, 248, 0.548);
  transition: .3s all ease;
  transform: scale(1.06);
  box-shadow: 1px 1px 5px rgba(88, 88, 88, 0.637);
  
}
.books-img{
  width: 150px;
  padding: 15px 0;
  height: 200px;
  border-radius: 10px ;
}
.books-name{
  font-size: 20px;
  font-weight: 700;
}
.short-desc{
  text-align: left;
  padding: 15px 0;
  color: #737272;
}
.books-author{
  padding: 15px 0;
  text-align: center;

}
/* Card bar style */

.card-bar {
  width: 1140px;
  height: 300px;
  background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("./img/watch.png");
  margin: auto;
  position: relative;
  border-radius: 8px;
}

.card-contant {
  position: absolute;
  width: 450px;
  top: 75px;
  left: 64px;
}

.card-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.card-btn {
  width: 160px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #F15B22;
  border: none;
}

footer {
  width: 100%;
  height: 577px;
  background: #151414;
  margin-top: 130px;
  color: white;
}

.footer-data {
  display: flex;
  gap: 331px;
  justify-content: center;

  padding-top: 130px;
}

.contact-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #F8F8F8;
  margin-bottom: 16px;
}

.contact-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 485px;
  height: 78px;

}

.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 16px;
}

.contact-icon {
  margin-top: 32px;
}

.news-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #F8F8F8;
  margin-bottom: 31px;
}

.email {
  width: 325px;
  height: 64px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #151414;
  ;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin-bottom: 16px;

}

.subscribe-btn {
  width: 170.11px;
  height: 64px;
  background: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #F15B22;
  border-radius: 8px;
}